services:
  database:
    image: postgres:15-alpine
    container_name: db
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - '${POSTGRES_PORT}:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      # подвійний $ — щоб Compose НЕ підставляв свої змінні, а передав їх всередину контейнера
      test: ['CMD-SHELL', 'pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB']
      interval: 5s
      timeout: 3s
      retries: 10
    networks:
      - appnet

  redis:
    image: redis:7-alpine
    container_name: cache
    command: ['redis-server', '--appendonly', 'yes']
    volumes:
      - redisdata:/data
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 5s
      timeout: 3s
      retries: 10
    networks:
      - appnet

  libretranslate:
    image: libretranslate/libretranslate:latest
    container_name: libretranslate
    ports:
      - '5000:5000'
    restart: unless-stopped
    environment:
      LT_HOST: '0.0.0.0'
      LT_PORT: 5000
      LT_LOAD_ONLY: 'en,uk'
      LT_REQ_LIMIT: 0
      LT_DISABLE_FILES: 'true'
    healthcheck:
      test: ['CMD-SHELL', './venv/bin/python scripts/healthcheck.py']
      interval: 10s
      timeout: 4s
      retries: 20
      start_period: 5s
    networks:
      - appnet

volumes:
  pgdata:
  redisdata:

networks:
  appnet:
    driver: bridge
